# secrets/config
config.json
*.env
.env.dev
.env.prod
.env.local
config/config.json
config/config.dev.json
config/config.prod.json

# data
*.db
incoming/
data/
runtime/
backups/

# python
__pycache__/
*.pyc
.venv/
venv/

# misc
*.log
.DS_Store
